PySide6
pyopengl
python-mpv==0.5.2
ffms2
numpy
cffi
requests
pycaption
pysubs2
lxml
clean-text[gpl]
html5lib==1.0b8
google-trans-new
SpeechRecognition
beautifulsoup4<4.10,>=4.8.1
python-docx
chardet
google-api-python-client
pysrt
certifi