PyQt5
pyopengl
numpy==1.19.3
sip
cffi
requests
pycaption
captionstransformer
pysubs2
lxml
clean-text[gpl]
html5lib==1.0b8
scenedetect
opencv-python
google-api-python-client==1.8.0
autosub3
google-trans-new
SpeechRecognition