[Desktop Entry]
Version=1.0
Type=Application
Name=Subtitld
TryExec=subtitld
Exec=subtitld %F
Icon=subtitld
GenericName=Subtitle editor and creator
Categories=AudioVideo;Video;Qt;
